  <h1 class='text-center' mt-4>Log in</h1>

<div class="container">
    <%= form_with(scope: :session, url: login_path, class: "shadow p-3 mb-3 bg-info rounder",local: true) do |form| %>
      <div class="row mb-3">
      <%= form.label :email, style: "display: block", class: "col-2 col-form-label text-light" %>
        <div class="col-sm-10">
        <%= form.email_field :email, class: "form-control shadow rounded", placeholder: "Enter your email address" %>
      </div>
    </div>
    <div>
          <div class="row mb-3">
      <%= form.label :password, style: "display: block", class: "col-2 col-form-label text-light" %>
        <div class="col-sm-10">
        <%= form.password_field :password, class: "form-control shadow rounded", placeholder: "Enter your password" %>
      </div>
    </div>

    <div class="text-center">
      <%= form.submit "login", class: "btn btn-outline-light" %>
    </div>
    <% end %>
      <div class="mb-3 text-center">
        <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-danger" %>
      </div>
    </div>