<div class="container col-sm-10">
      <%= render "/shared/errors", obj: @article%>
</div>
<div class="container">
    <%= form_with(model: article, class: "shadow p-3 mb-3 bg-info rounder",local: true) do |form| %>
    <div class="row mb-3 justify-content-center">
      <%= form.label :title, style: "display: block", class: "col-2 col-form-label text-light" %>
      <div class="col-sm-10">
        <%= form.text_field :title, class: "form-control shadow rounded", placeholder: "Title of article" %>
      </div>
    </div>
      <div class="row mb-3">
      <%= form.label :description, style: "display: block", class: "col-2 col-form-label text-light" %>
        <div class="col-sm-10">
        <%= form.text_area :description,rows: 10, class: "form-control shadow rounded", placeholder: "Description of article" %>
      </div>
    </div>
    <div>
      <div class="row mb-3">
        <%= form.label :category, style: "display: block", class: "col-2 col-form-label text-light" %>
        <div class="col-sm-10">
        <%= form.collection_select(:category_ids, Category.all, :id, :name, {prompt: "Make your selection from the list below (can be empty)"}, {multiple: true, size: 3, class: "form-select shadow rounded"}) %>
      </div>
    </div>

    <div class="text-center">
      <%= form.submit class: "btn btn-outline-light" %>
    </div>
    <% end %>
    <%= link_to "[ Back to articles listing ]", articles_path, class: "row justify-content-center text-info mb-3" %>
</div>