<h1 class='text-center' mt-4>Listing all articles</h1>
<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
<%= render 'article'%>

<div class="flickr_pagination mb-4">
    <%= will_paginate @articles, :container => false %>
  </div>