<div class="container col-sm-10">
      <%= render "/shared/errors", obj: @user%>
</div>
<div class="container">
    <%= form_with(model: @user, class: "shadow p-3 mb-3 bg-info rounder",local: true) do |form| %>
    <div class="row mb-3 justify-content-center">
      <%= form.label :username, style: "display: block", class: "col-2 col-form-label text-light" %>
      <div class="col-sm-10">
        <%= form.text_field :username, class: "form-control shadow rounded", placeholder: "Enter a username" %>
      </div>
    </div>

      <div class="row mb-3">
      <%= form.label :email, style: "display: block", class: "col-2 col-form-label text-light" %>
        <div class="col-sm-10">
        <%= form.email_field :email, class: "form-control shadow rounded", placeholder: "Enter an email" %>
      </div>
    </div>
    <div>
          <div class="row mb-3">
      <%= form.label :password, style: "display: block", class: "col-2 col-form-label text-light" %>
        <div class="col-sm-10">
        <%= form.password_field :password, class: "form-control shadow rounded", placeholder: "Choose a password" %>
      </div>
    </div>

    <div class="text-center">
      <%= form.submit(@user.new_record? ? "Sign up" : "Update account", class: "btn btn-outline-light") %>
    </div>
    <% end %>
      <div class="mb-3 text-center">
        <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-danger" %>
      </div>
    </div>