  <h1 class='text-center mt-4'><%= @user.username %>'s profile</h1>  

  <%= gravatar_for @user, size: 200%>

<div class='text-center' mt-4>
  <%if logged_in? && @user == current_user%>
    <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info"%>  
  <%end%>  
</div>

<div>
  <h3 class='text-center' mt-4>Articles</h3>  
</div>

<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>

   <%= render 'articles/article' %>

   <div class="flickr_pagination mb-4">
    <%= will_paginate @articles, :container => false %>
  </div>