<% if obj.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading"><%= pluralize(obj.errors.count, "error") %> prohibited this <%= obj.class.name.downcase%> from being saved:</h4>
        <ul>
            <% obj.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
        </ul>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>