  <footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Mario Alberto Mora", "https://www.marioalbertomora.com", class: "text-white"%> </small>
    </div>
  </footer>