    <div class="container col-sm-10">
      <%= render "/shared/errors", obj: @category%>
    </div>
<div class="container">
    <%= form_with(model: @category, class: "shadow p-3 mb-3 bg-info rounder",local: true) do |form| %>
    <div class="row mb-3 justify-content-center">
      <%= form.label :name, "Category name", style: "display: block", class: "col-2 col-form-label text-light" %>
      <div class="col-sm-10">
        <%= form.text_field :name, class: "form-control shadow rounded", placeholder: "Enter a name" %>
         </div>
    </div>
    <div class="text-center">
      <%= form.submit(@category.new_record? ? "Submit" : "Update category", class: "btn btn-outline-light") %>
    </div>
</div>
    <% end %>

    
     