  <h1 class='text-center mt-4' >Category: <%= @category.name %></h1>  

<div class='text-center' mt-4>
  <%if logged_in? && current_user.admin?%>
    <%= link_to "Edit category name", edit_category_path(@category), class: "btn btn-outline-info"%>  
  <%end%>  
</div>

<div>
  <h3 class='text-center' mt-4>Articles</h3>  
</div>

<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>

   <%= render 'articles/article' %>

   <div class="flickr_pagination mb-4">
    <%= will_paginate @articles, :container => false %>
  </div>