<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column">
   
        <%= render 'shared/header'%>
        <div id="page-content">
        <%= render 'layouts/messages'%>
        <%= yield %>
        </div>
        <%= render 'shared/footer'%>
  </body>
</html>
